*.DS_Store
*.html
*.xml
__pycache__
*.swp
.mypy_cache
*.txt
*~
*.backup
*.save

/old

# This is automatically created by the test runner.
failed_output.html

# Allow XML, HTML and JSON files in the test suite
!tests/*.html
!tests/*.xml
!tests/*.json
